# ==========================================
# OlyLife Tashkent — Переменные окружения
# ==========================================

# 1. Telegram Bot (для отправки заявок менеджерам)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# 2. Meta Facebook Conversions API (CAPI)
# ID пикселя Facebook
FB_PIXEL_ID=1420624392253746

# Маркер доступа CAPI (Сгенерируйте в Meta Events Manager -> Настройки -> Сгенерировать маркер доступа)
FB_ACCESS_TOKEN=

# Тестовый код события (Опционально. Вкладка "Тестирование событий" в Meta Events Manager, например: TEST12345)
FB_TEST_EVENT_CODE=
